*{
 padding:0;
 margin:0;
 box-sizing:border-box;
}

header{
	width:100%;
	height:133px;
	padding:25px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container{
	margin:auto;
	width:1200px;
}

.logo{
	width:72px;
	height:69px;
	background:url(img/logo.png);
	background-blend-mode:overlay; 
	background-size:cover; 
	background-position:center;
	
}
.main button{
	transform:translate(115px,-45px);
	padding:10px 20px;
	border-radius:5px;
	background-color:#29CF7E;
	color:white;
	display:inline;
	border:1px solid #29CF7E; 
	font-family:sans-serif;
	font-size:13px;
	
}
.main1 button{
	padding:10px 20px;
	border-radius:5px;
	display:inline-block;
	transform:translate(223px,-79px);
	background-color:white;
	border:none;
	font-family:sans-serif;
	font-size:13px;
	
}
.main2 button{
	padding:10px 20px;
	border-radius:5px;
	display:inline-block;
	transform:translate(330px,-113px);
	background-color:white;
	border:none;
	font-family:sans-serif;
	font-size:13px;
	
}
.main3 button{
	padding:10px 20px;
	border-radius:5px;
	display:inline-block;
	transform:translate(498px,-147px);
	background-color:white;
	border:none;
	font-family:sans-serif;
	font-size:13px;
	
}
.main4 button{
	font-size:20px;
	display:inline-block;
	transform:translate(1059px,-174px);
	background-color:white;
	border:none;
	
}
.main5 button{
	font-size:25px;
	display:inline-block;
	transform:translate(1097px,-200px);
	background-color:white;
	border:none;
}
.main1 button:hover{
	background-color:#29CF7E;
	color:white;
	transition:all 0.5s;
	
}
.main2 button:hover{
	background-color:#29CF7E;
	color:white;
	transition:all 0.5s;
	
}
.main3 button:hover{
	background-color:#29CF7E;
	color:white;
	transition:all 0.5s;	
}
.container1{
	width:1100px;
	margin:auto;
	padding:10px;

}
.container2{
	width:100%;
	height:763px;
	background-color:#f9f9f9;
	
}
.box1{

	font-family:sans-serif;
	font-size:40px;
	float:left;
	transform:translate(185px,327px);

}
.box2{
	transform:translate(-202px,40px);
	float:right;
	width:772px;
	height:710px;
	
	background:url(img/img1.png);
	background-blend-mode:overlay; 
	background-size:cover; 
	background-position:center;
}
.main6 button{
	transform:translate(0,-76px);
	padding:12px 37px;
	background-color:#29CF7E;
	color:white;
	display:inline;
	border:none;
	font-family:sans-serif;
	font-size:13px;
}
.main6 button:hover{
	
	background-color:#21a464;
	color:white;
}
.font1{
	font-size:17px;
	color:gray;
	font-family:sans-serif;
}
.font2{
	 font-family: "Bree Serif", serif;
	font-size:45px;
}
.font3{
	font-family:arial;
	font-size:13px;
	color:gray;
}
.box3{
	width:100%;
	height:350px;
	
}
.img1{
	display:inline-block;
	background:url(img/img2.png);
	background-size:cover; 
	background-position:center;
	width:350px;
	height:220px;
}
.img2{
	display:inline-block;
	background:url(img/img3.png);
	background-size:cover; 
	background-position:center;
	width:350px;
	height:220px;
}
.img3{
	display:inline-block;
	background:url(img/img4.png);
	background-size:cover; 
	background-position:center;
	width:350px;
	height:220px;
}
.container3{
	width:1144px;
	height:1240px;
}
.font5{
	font-size:38px;
	 font-family: "Bree Serif", serif;
	padding:0px 0px 30px;
}
.box4{
	border:1px dashed #e7e7e7;
	width:380px;
	height:44 0px;
	padding:35px;
	color:#3D3D3D;
	float:left;
}
.box5{
	
	width:210px;
	height:300px;
	margin:auto;
	background:url(img/box5.jpg);
	background-size:cover; 
	background-position:center;
}
.box4 p{
	color:gray;
	font-family:arial;
	text-align:center;
}
.box4 b{
	color:#3D3D3D;
	font-size:17px;
	font-family:arial;
    padding-left:113px;
}
.btns3{
	
	padding:10px 116px;
	background-color:white;
	color:transparent;
	border:1px solid transparent;
	border-radius:4px;

}
.btns3:hover{
	
	padding:10px 116px;
	background-color:white;
	color:#f07683;
	border:1px solid #f07683;

}
.btns1{
	transform:translate(-20px,50px);
	padding:6px 17px;
	border:1px solid #f07683;
	color:#f07683;
	background-color:white;
	border-radius:23px;
}
.btns2{
	padding:4px 9px;
	border:1px solid #29cf7e;
	color:#29cf7e;
	transform:translate(125px,0px);
	border-radius:3px;
	background-color:white;
	
}
.box6{
	
	width:210px;
	height:282px;
	margin:auto;
	background:url(img/box6.jpg);
	background-size:cover; 
	background-position:center;
}
.box7{
	
	width:210px;
	height:300px;
	margin:auto;
	background:url(img/box7.jpg);
	background-size:cover; 
	background-position:center;
}
.box8{
	
	width:280px;
	height:278px;
	margin:auto;
	background:url(img/box8.jpg);
	background-size:cover; 
	background-position:center;
}
.box9{
	
	width:280px;
	height:300px;
	margin:auto;
	background:url(img/box9.jpg);
	background-size:cover; 
	background-position:center;
}
.box10{
	
	width:210px;
	height:300px;
	margin:auto;
	background:url(img/box10.jpg);
	background-size:cover; 
	background-position:center;
}
.btns4{
	border-radius:17px;
	padding:4px 15px;
	background-color:#29cf7e;
	color:white;
	border:none;
	transform:translate(13px,50px);
}
.btns5{
	
	padding:10px 116px;
	background-color:white;
	color:transparent;
	border:1px solid transparent;
	border-radius:4px;

}
.btns5:hover{
	
	padding:10px 116px;
	background-color:#29cf7e;
	color:white;
	border:1px solid #29cf7e;
	font-weight:bold;
}
.font6{
	color:#3D3D3D;
	font-size:17px;
	font-family:arial;
	padding-left:71px;
	font-weight: bold;
	
}
.font7{
	color:#3D3D3D;
	font-size:17px;
	font-family:arial;
	padding-left:71px;
	font-weight: bold;
	
}
.container7{
	width:1150px;
	height:470px;
	text-align:center;
	background:url(img/background.jpg);
	background-size:cover; 
	background-position:center;
	padding-top:180px;
}
.container7{
	font-family: "Bree Serif", serif;
	font-size:16px;
	color:white;
	
}
.font8{
	font-family: "Bree Serif", serif;
	font-size:42px;
	color:white;
}
.box11{
	border:1px dashed #e7e7e7;
	width:284px;
	height:422px;
	padding:35px;
	color:#3D3D3D;
	float:left;
}
.boxmt1{	
	width:213px;
	height:210px;
	margin:auto;
	background:url(img/box7.jpg);
	background-size:cover; 
	background-position:center;
}
.box12{
	border:1px dashed #e7e7e7;
	width:284px;
	height:422px;
	padding:35px;
	color:#3D3D3D;
	float:left;
}
.boxmt2{
	width:213px;
	height:210px;
	margin:auto;
	background:url(img/box10.jpg);
	background-size:cover; 
	background-position:center;
}
.big{
	float:left;
	width:570px;
	height:404px;
	margin:auto;
	background:url(img/box13.jpg);
	background-size:cover; 
	background-position:center;
}
.box11 p{
	color:gray;
	font-family:arial;
	text-align:center;
}
.box11 b{
	color:#3D3D3D;
	font-size:17px;
	font-family:arial;
    padding-left:67px
}
.box12 p{
	color:gray;
	font-family:arial;
	text-align:center;
}
.box12 b{
	color:#3D3D3D;
	font-size:17px;
	font-family:arial;
    padding-left:113px;
}
.font9{
	color:#3D3D3D;
	font-size:17px;
	font-family:arial;
	padding-left:27px;
	font-weight: bold;
	
}


.container8{
	
	width:1300px;
	height:510px;
}
.btns7{
	transform:translate(-26px,22px);
	padding:6px 17px;
	border:1px solid #f07683;
	color:#f07683;
	background-color:white;
	border-radius:23px;
}
.btns8{
	
	padding:1px 80px;
	background-color:white;
	color:transparent;
	border:1px solid transparent;
	border-radius:4px;

}
.btns8:hover{
	
	padding:12px 80px;
	font-size:9px;
	background-color:white;
	color:#f07683;
	border:1px solid #f07683;

}
.btns9{
	
	padding:0px 80px;
	background-color:white;
	color:transparent;
	border:1px solid transparent;
	border-radius:4px;

}
.btns9:hover{
	
	padding:12px 80px;
	font-size:9px;
	background-color:#29cf7e;
	color:white;
	border:1px solid #29cf7e;
	font-weight:bold;
}
.btns10{
	padding:4px 9px;
	border:1px solid #29cf7e;
	color:#29cf7e;
	transform:translate(82px,0px);
	border-radius:3px;
	background-color:white;
	
}
.btns11{
	padding:4px 9px;
	border:1px solid #29cf7e;
	color:#29cf7e;
	transform:translate(76px,9px);
	border-radius:3px;
	background-color:white;
	
}
.input1{
	
	transform:translate(23px,50px);
	float:left;
	width:725px;
	height:735px;
	background:url(img/box14.jpg);
	background-size:cover; 
	background-position:center;
	
}
.input2{
	float:right;
	font-family:arial;
	font-size:15px;
	transform:translate(-230px,367px);
}

}
.input2 h2{
    padding:0px 0px 10px;
	color:#2D212E;
}
.input2 input{
	
	height:30px;
	padding:18px 42px;
	border:0.5px solid #e7e7e7;
	border-radius:2px;
}
.input2 button{
	transform:translate(258px,-38px);
	padding:12px 37px;
	background-color:#29CF7E;
	color:white;
	display:inline;
	font-family:sans-serif;
	font-size:13px;
}
.input2 button:hover{
	
	background-color:#21a464;
	color:white;
}
.last{
	color:#e7e7e7;
	
	
}
.container5{
	width:100%;
	height:860px;
	background-color:#f9f9f9;
	
}